<html>
    <body>
        <h1>Login</h1>
     
        <form action='/login' id='login'>
                
            <label for="Username"><b>Username:</b></label>
            <input type='text' id="usernameLog" name='username' required>

            <label for="Password"><b>Password:</b></label>
            <input type='text' id='password' name='password' required>
            <br>
            <button type="submit" id="login">Login</button></br>
            
        </form>
        <h1>Signup</h1>
        <form action='/signup' id='signUp' >
            <label for="Username"><b>Username:</b></label>
            <input type='text' id="usernameSign" name='username' required>

            <label for="email"><b>Email-Id:</b></label>
            <input type='text' id='email' name='email' required>

            <label for="Date Of Birth"><b>Date of Birth</b></label>
            <input type='text' id='DOB' name='DOB' required>

            <label for="New password"><b>New password:</b></label>
            <input type='text' id='password' name='password' required>
            <br>
            <button type="submit" id="signup">Signup</button>
            </br>
        </form>
    
    </body>
</html>