doctype html
html
    head
        
body
    form(action="/OTP" id=otp)
        input(type="hidden" name="userId" value=userId)
        button(type="submit" id="generate") generate code
    form(action='/logout' id=logout)
        button(type="submit" id="login") logout
    var list = OTP
    each item in OTP
        li= item